/* 전체게임 ::s */
.all-games-section {
    background-color: #000;
    padding: 4rem 5% 8rem;
    color: #fff;
}

.section-category {
    color: var(--color-primary);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #fff;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.all-games-section .game-card {
    background: #1a1a1a;
    overflow: hidden;
    height: auto;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.all-games-section  .game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.game-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.game-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    transition: opacity 0.3s ease;
}

.all-games-section .game-card:hover .game-image::after {
    opacity: 0.5;
}

.game-info {
    padding: 2.5rem 1.5rem;
}

.game-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #fff;
}

.game-genre {
    color: #666;
    font-size: 0.9rem;
}
/* 전체게임 ::e */


/* 미디어 쿼리: 화면 크기 1024px 이하 */
@media (max-width: 1024px) {
    /* 전체게임 ::s */
    .games-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* 전체게임 ::e */
}


/* 미디어 쿼리: 화면 크기 768px 이하 */
@media screen and (max-width: 768px) {
    /* 전체게임 ::s */
    .games-grid {
        grid-template-columns: 1fr;
    }
    /* 전체게임 ::e */
}